$text-size: 18px;

.hobbies {

  text-align: center;

  &.hobbies_with-margin {
    margin-bottom: 50px;
  }

  &-description {
    &__hobby {

      font-size: $text-size;

      &.hobby_with-margin {
        margin-bottom: 10px;
      }
    }
  }
}