$text-size: 18px;

.news {
  text-align: center;
  &.news_with-margin {
    margin-bottom: 50px;
  }

  &-item {
    &__title {
      font-size: $text-size;
    }

    &__img {
      width: 600px;
      height: 350px;
    }

    &.item_with-margin {
      margin-bottom: 50px;
    }
  }
}